/Keyforge.MasterVault/.vs/*
/Keyforge.MasterVault/Keyforge.MasterVault.Console/bin/*
/Keyforge.MasterVault/Keyforge.MasterVault.Console/obj/*
/Keyforge.MasterVault/Keyforge.MasterVault.Entity/bin/*
/Keyforge.MasterVault/Keyforge.MasterVault.Entity/obj/*
/Keyforge.MasterVault/Keyforge.MasterVault.Web/bin/*
/Keyforge.MasterVault/Keyforge.MasterVault.Web/obj/*
